
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

#root {
  padding-left: 25%;
  padding-right: 25%;
  height: 100vh;
}

body {
  background-color: rgb(253, 235, 253);
  margin: 0;
  font-size: 17px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white
}

a:hover{
  color: black;
}
button {
  background-color: #3e99c0;
  border-radius: 8px;
  border-width: 0px;
  font-weight: 295;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 17px;
}

@media screen and (min-width: 1200px) {
  #root {
    
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (max-width: 1000px) {
  #root {
    padding-left: 5%;
    padding-right: 5%;
    display: block;
  }
}



